Repository handshake-org/hsd, pull requests merged in 2021-11, with the labels that each got.

#661 Update security.md
  SECURITY.md
Labels: security, docs

#655 Add net tests and fix unknown packets
  lib/net/packets.js
  lib/net/peer.js
  lib/net/pool.js
  test/net-test.js
  test/protocol-test.js
Labels: bug, enhancement, net/p2p, tests, ready-for-review

#654 node/miner: remove inflation bug softfork covert signaling
  lib/mining/template.js
  lib/node/rpc.js
Labels: mining, node-rpc, cleanup

#657 Wallet record tests
  lib/wallet/records.js
  lib/wallet/walletdb.js
  test/wallet-records-test.js
Labels: bug, quick, wallet-db, tests
