Repository handshake-org/hsd, pull requests merged in 2022-03, with the labels that each got.

#688 blockstore - separate write and prune batches.
  lib/blockchain/chaindb.js
  lib/blockstore/file.js
  lib/blockstore/level.js
  test/blockstore-test.js
  test/chain-blockstore-test.js
  test/chain-migration-test.js
Labels: bug, intermediate, blockstore

#691 test: Added more tests to NOINPUT implementation
  test/sighash-test.js
Labels: primitives, tests

#693 test: wallet unit tests.
  test/wallet-unit-test.js
Labels: quick, wallet, tests, patch
