Repository handshake-org/hsd, pull requests merged in 2023-07, with the labels that each got.

#825 wallet: fix makeBatch to generate addresses early
  lib/wallet/wallet.js
  test/wallet-auction-test.js
  test/wallet-importnonce-test.js
Labels: wallet, patch

#826 mempool: more invalidation tests.
  lib/mempool/contractstate.js
  lib/primitives/covenant.js
  test/mempool-invalidation-test.js
Labels: advanced, mempool, tests, patch

#827 Update checkpoints guide in release-process.md
  docs/release-process.md
Labels: docs

#824 rpc: Added totalSigs to JSON response for scriptToJSON
  lib/node/rpc.js
Labels: node-rpc, breaking-minor
