Repository handshake-org/hsd, pull requests merged in 2023-01, with the labels that each got.

#769 wallet: increase lookahead configuration to 2 ** 32.
  CHANGELOG.md
  lib/wallet/account.js
  lib/wallet/http.js
  lib/wallet/migrations.js
  lib/wallet/wallet.js
  lib/wallet/walletdb.js
  test/wallet-http-test.js
  test/wallet-migration-test.js
  test/wallet-unit-test.js
Labels: migrations, wallet-db, breaking-major

#788 Mempool reorg covenants
  lib/mempool/mempool.js
  test/mempool-reorg-test.js
  test/mempool-test.js
Labels: advanced, mempool, patch

#798 pkg: Release v5.0.0
  docs/release-notes/release-notes-5.x.md
  docs/release-schedule.md
  package-lock.json
  package.json
Labels: release

#800 docs: backport v5.0.0 release notes.
  docs/release-notes/release-notes-5.x.md
  docs/release-schedule.md
Labels: docs
